<!-- public/templates/transformer_info_panel.html -->
<div class="card mb-2 info-card-main">
    <div class="card-header py-1 px-2 d-flex justify-content-between align-items-center info-card-header">
        <span>INFORMAÇÕES DO TRANSFORMADOR</span>
        <i class="fas fa-info-circle" title="Dados do Transformador (Completo)"></i>
    </div>
    <div class="card-body p-2 info-card-body">
        <!-- TABELA SIMPLES E ORGANIZADA -->
        <table class="transformer-table">
            <!-- CABEÇALHO -->
            <thead>
                <tr class="header-row">
                    <th class="col-general">DADOS GERAIS</th>
                    <th class="divider-thick"></th>
                    <th class="col-at" colspan="4">ALTA TENSÃO (AT)</th>
                    <th class="divider-thick"></th>
                    <th class="col-bt" colspan="2">BAIXA TENSÃO (BT)</th>
                    <th class="divider-thick"></th>
                    <th class="col-terc" colspan="2">TERCIÁRIO</th>
                    <th class="divider-thick"></th>
                    <th class="col-pesos">PESOS</th>
                </tr>
                <tr class="subheader-row">
                    <th></th>
                    <th class="divider-thick"></th>
                    <th class="sub-at">TAP AT-</th>
                    <th class="sub-at">Nominal</th>
                    <th class="sub-at">TAP AT+</th>
                    <th class="sub-at">Neutro</th>
                    <th class="divider-thick"></th>
                    <th class="sub-bt">Linha</th>
                    <th class="sub-bt">Neutro</th>
                    <th class="divider-thick"></th>
                    <th class="sub-terc">Linha</th>
                    <th class="sub-terc">Neutro</th>
                    <th class="divider-thick"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Linha 1: Potência / Tensão -->
                <tr class="data-row">
                    <td class="label-cell">Potência: <span id="info-potencia-mva">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-at-tap-menor">-</span></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-at">-</span></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-at-tap-maior">-</span></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-bt">-</span></td>
                    <td class="value-cell">Classe Neutro: <span id="info-classe-neutro-bt">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Tensão: <span id="info-tensao-terciario">-</span></td>
                    <td class="value-cell">Classe Neutro: <span id="info-classe-neutro-terciario">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">P.Ativa: <span id="info-peso-parte-ativa">-</span></td>
                </tr>

                <!-- Linha 2: Frequência / Corrente -->
                <tr class="data-row">
                    <td class="label-cell">Frequência: <span id="info-frequencia">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-nominal-at-tap-menor">-</span></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-nominal-at">-</span></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-nominal-at-tap-maior">-</span></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-nominal-bt">-</span></td>
                    <td class="value-cell">NBI Neutro: <span id="info-nbi-neutro-bt">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Corrente: <span id="info-corrente-nominal-terciario">-</span></td>
                    <td class="value-cell">NBI Neutro: <span id="info-nbi-neutro-terciario">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Tanque: <span id="info-peso-tanque">-</span></td>
                </tr>

                <!-- Linha 3: Tipo / Classe -->
                <tr class="data-row">
                    <td class="label-cell">Tipo: <span id="info-tipo-transformador">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Classe: <span id="info-classe-tensao-at-tap-menor">-</span></td>
                    <td class="value-cell">Classe: <span id="info-classe-tensao-at">-</span></td>
                    <td class="value-cell">Classe: <span id="info-classe-tensao-at-tap-maior">-</span></td>
                    <td class="value-cell">Classe Neutro: <span id="info-classe-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Classe: <span id="info-classe-tensao-bt">-</span></td>
                    <td class="value-cell">SIL/IM Neutro: <span id="info-sil-im-neutro-bt">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Classe: <span id="info-classe-tensao-terciario">-</span></td>
                    <td class="value-cell">SIL/IM Neutro: <span id="info-sil-im-neutro-terciario">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Óleo: <span id="info-peso-oleo">-</span></td>
                </tr>

                <!-- Linha 4: Grupo / Conexão -->
                <tr class="data-row">
                    <td class="label-cell">Grupo: <span id="info-grupo-ligacao">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-at-tap-menor">-</span></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-at">-</span></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-at-tap-maior">-</span></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-bt">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Conexão: <span id="info-conexao-terciario">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">Total: <span id="info-peso-total">-</span></td>
                </tr>

                <!-- Linha 5: Norma / NBI -->
                <tr class="data-row">
                    <td class="label-cell">Norma: <span id="info-norma-iso">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">BIL/NBI: <span id="info-nbi-at-tap-menor">-</span></td>
                    <td class="value-cell">BIL/NBI: <span id="info-nbi-at">-</span></td>
                    <td class="value-cell">BIL/NBI: <span id="info-nbi-at-tap-maior">-</span></td>
                    <td class="value-cell">NBI Neutro: <span id="info-nbi-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">BIL/NBI: <span id="info-nbi-bt">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">BIL/NBI: <span id="info-nbi-terciario">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">-</td>
                </tr>

                <!-- Linha 6: Elev. Óleo / SIL/IM -->
                <tr class="data-row">
                    <td class="label-cell">Elev. Óleo: <span id="info-elevacao-oleo-topo">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">SIL/IM: <span id="info-sil-im-at-tap-menor">-</span></td>
                    <td class="value-cell">SIL/IM: <span id="info-sil-im-at">-</span></td>
                    <td class="value-cell">SIL/IM: <span id="info-sil-im-at-tap-maior">-</span></td>
                    <td class="value-cell">SIL/IM Neutro: <span id="info-sil-im-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">SIL/IM: <span id="info-sil-im-bt">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">SIL/IM: <span id="info-sil-im-terciario">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">-</td>
                </tr>

                <!-- Linha 7: Elev. Enrol. / IAC -->
                <tr class="data-row">
                    <td class="label-cell">Elev. Enrol.: <span id="info-elevacao-enrol">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">CI/IAC: <span id="info-iac-at-tap-menor">-</span></td>
                    <td class="value-cell">CI/IAC: <span id="info-iac-at">-</span></td>
                    <td class="value-cell">CI/IAC: <span id="info-iac-at-tap-maior">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">CI/IAC: <span id="info-iac-bt">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">CI/IAC: <span id="info-iac-terciario">-</span></td>
                    <td class="value-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">-</td>
                </tr>

                <!-- Linha 8: APLICADA -->
                <tr class="data-row">
                    <td class="label-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-at-tap-menor">-</span></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-at">-</span></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-at-tap-maior">-</span></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-bt">-</span></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-neutro-bt">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-terciario">-</span></td>
                    <td class="value-cell">APLICADA: <span id="info-teste-tensao-aplicada-neutro-terciario">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">-</td>
                </tr>

                <!-- Linha 9: INDUZIDA -->
                <tr class="data-row">
                    <td class="label-cell">-</td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-at-tap-menor">-</span></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-at">-</span></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-at-tap-maior">-</span></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-neutro-at">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-bt">-</span></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-neutro-bt">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-terciario">-</span></td>
                    <td class="value-cell">INDUZIDA: <span id="info-teste-tensao-induzida-neutro-terciario">-</span></td>
                    <td class="divider-thick"></td>
                    <td class="value-cell">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


